{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
	}
</style>

<br>
{% if request.user.customer.name %}
<h3 style="color: white;">Hey {{request.user.customer.name}}!</h3>
{% else %}
<h3 style="color: white;">Hey there!</h3>
{% endif %}
<div class="row">
	<div class="col-md-4">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'store' %}"> &#8592; Back to Store</a>
			<hr>
			<h3 style="text-align: center">Account Settings</h3>
			<hr>
			<img class="profile-pic" src="{{request.user.customer.image.url}}" >
		
		</div>
	</div>
	<div class="col-md-8">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}
				<input class="btn btn-primary" type="submit" name="Update Information">
				
			</form>
			<hr>
			<h4>Currently in these groups: </h4>
			<ul>
				{% for group in groups %}
				<li>{{group.name}}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock content %}